<h1>Articles</h1>

<ul>
  {{#each articles}}
    {{#unless saved}}
      {{_id}} {{value}}<br>
      {{title}} {{value}} <br>
      {{summary}} {{value}} <br>
      {{link}} {{value}} <br>
        {{> art-block}}
    {{/unless}}
  {{/each}}
</ul>