<h1>Saved Articles</h1>

<ul>
    {{#each articles}}
    {{#if saved}}
      {{_id}} {{value}}<br>
      {{title}} {{value}} <br>
      {{summary}} {{value}} <br>
      {{link}} {{value}} <br>
      {{note}} {{value}} <br>
        {{> saveArt-block}}
    {{/if}}
  {{/each}}
</ul>